
matrix/matrix/Debug/matrix.tlog/link.read.1.tlog
matrix/matrix/Debug/matrix.tlog/link.command.1.tlog
*.tlog
*.filters
*.vcxproj
*.cpp
matrix/matrix/pch.h
matrix/matrix/matrix.vcxproj.user
matrix_error/.vs/matrix_error/v15/.suo
matrix_error/.vs/matrix_error/v15/Browse.VC.db
matrix_error/.vs/matrix_error/v15/ipch/230894777f0fe328.ipch
matrix_error/Debug/matrix_error.exe
matrix_error/Debug/matrix_error.ilk
matrix_error/Debug/matrix_error.pdb
matrix_error/matrix_error.sln
matrix_error/matrix_error/Debug/matrix_error.log
matrix_error/matrix_error/Debug/matrix_error.obj
matrix_error/matrix_error/Debug/matrix_error.pch
matrix_error/matrix_error/Debug/pch.obj
matrix/.vs/matrix/v15/.suo
matrix/.vs/matrix/v15/Browse.VC.db
matrix/.vs/matrix/v15/ipch/1a57f357eaacb7f8.ipch
matrix/Debug/matrix.exe
matrix/Debug/matrix.ilk
matrix/Debug/matrix.pdb
matrix/matrix.sln
matrix/matrix/Debug/matrix.log
matrix/matrix/Debug/matrix.obj
matrix/matrix/Debug/matrix.pch
matrix/matrix/Debug/pch.obj
matrix/matrix/Debug/vc141.idb
matrix/matrix/Debug/vc141.pdb
matrix_error/matrix_error/Debug/vc141.idb
matrix_error/matrix_error/Debug/vc141.pdb
matrix_error/matrix_error/matrix_error.vcxproj.user
matrix_error/matrix_error/pch.h
